

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #33ccff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #110e0e;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background:rgba(109, 144, 182, 0.404);
}

#home 
   {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
header {
  font-size: 40px;
  align-content: center;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  
}
p{
  font-family: Arial, Helvetica, sans-serif;
  
  text-align:center;
  
  color : rgb(226, 32, 32);
 
  margin:10px;
}
h1 {
  text-align: center;
  color: rgb(15, 14, 14);
  line-height: 100px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
article {
  padding: 10px;
  margin: 10px;
  color:rgb(14, 12, 10);
}
/* Add your flexbox CSS below here */
section {
  display: flex;
}
article {
  flex: 1 200px;
}
article:nth-of-type(3) {
  flex: 3 200px;
  display: flex;
  flex-flow: column;
}
article:nth-of-type(3) div:first-child {
  flex: 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
header{
  text-align: center;
  color: rgb(32, 9, 9);
  line-height: 100px;
  margin: 0;
  font-size: 25px;
}
.footer{
    height: 80px;
    margin: 10px 0px 10px 0px;
    background-color: #ff99cc;
    align-content: center;

}

.text{
  text-align: center;
  padding: 10px;
  margin: 10px;
  line-height: 100px;
  color: rgb(22, 19, 12);

}

body {
  background-color:rgb(213, 216, 220);
}